# macOS
.DS_Store

# Editor
.vscode/*

# Commit project-level tasks and launch configs
!.vscode/tasks.json
!.vscode/launch.json

# Build artifacts
*.o
*.out
*.a
*.so
*.dylib
*.exe

# Debug symbols
*.dSYM/

# Build directories
build/
cmake-build-*/
*.dSYM